<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Email Template Anka</title>
</head>
<body>
    <div dir="ltr">
        <div style="text-align:center"><b style="font-family:arial,sans-serif">¡FELICITACIONES Y ÉXITOS DE PARTE DE LA
            FAMILIA ANKA!</b></div>
        <span style="font-family:arial,sans-serif"><b><br>Hola <span th:text="${nombreEstudiante}">Nombre Estudiante</span>,<br><br></b>Reciba un
                cordial saludo a nombre de la empresa&nbsp;&nbsp;<b>ANKA Studio.<br></b>
        </span>
        <div><span style="font-family:arial,sans-serif"><b><br></b></span></div>
        <div><span style="font-family:arial,sans-serif">Mediante el presente correo se envía su certificado por haber
                    finalizado exitosamente el CURSO DE&nbsp;<b>"ESPECIALISTA MODELADOR&nbsp;BIM"</b>.&nbsp; Agradecemos su
                    confianza y que haya elegido a&nbsp;<b>ANKA&nbsp;Studio&nbsp;</b>como parte de su formación
                    profesional.<br></span></div><span style="font-family:arial,sans-serif">&nbsp;</span>
        <div>
            <div><span style="font-family:arial,sans-serif">Sin más que agregar,<br><br>Saludos cordiales y éxitos en su
                        vida profesional,</span></div>
        </div>
        <div>
            <div dir="ltr" class="gmail_signature" data-smartmail="gmail_signature">
                <div dir="ltr">
                    <div><br></div>
                    <div><img width="420" height="124"
                              src="https://ci3.googleusercontent.com/mail-sig/AIorK4xyll1vn4O9Y4uqWeThCXAAATcbWfTHcxsgM7cpQRc1WYgX_sogjhJPu_ceiQM2hoUE1ro7Zz0"
                              class="CToWUd a6T" data-bit="iit" tabindex="0">
                    </div>
                    <div>
                        <font color="#7f7f7f" face="Calibri Light, sans-serif"><span>Este mensaje y cualquier archivo
                                    adjunto puede contener información confidencial o legalmente protegida por la Ley N°
                                    29733 - Ley de Protección de Datos Personales, y es de uso exclusivo de la(s) persona(s)
                                    a quién(es) se dirige. Si usted no es el destinatario indicado, queda notificado de que
                                    la lectura, utilización, divulgación y/o copia puede estar prohibida en virtud de la
                                    legislación vigente. Si usted recibe este mensaje por error por favor notificarlo al
                                    remitente y elimine toda la información contenida.</span></font>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>